.App {
  margin-top: 3.75rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor-output {
  width: 100%;
  height: 18em;
  box-sizing: border-box;
  padding: 1rem;
  border: 2px solid lightgrey;
  border-radius: 4px;
}

.editors {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.editors > * {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.toolbar-right {
  text-align: right;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.toolbar-right .Button-root-208 {
  margin-left: .5rem;
}

.toolbar-right .Button-root-208.active {
  background: teal;
  color: white;
}